In [1]:
import pandas as pd
import os

In [2]:
filenames = os.listdir("C:/carrot/oscar/kotlin-dl/dataset/train")
categories = []
for filename in filenames:
    category = filename.split('.')[0]
    if category == 'dog':
        categories.append(1)
    else:
        categories.append(0)

df = pd.DataFrame({
    'filename': filenames,
    'category': categories
})

In [3]:
df["category"] = df["category"].replace({0: 'cat', 1: 'dog'})

In [4]:
df.tail()

           filename category
24995  dog.9995.jpg      dog
24996  dog.9996.jpg      dog
24997  dog.9997.jpg      dog
24998  dog.9998.jpg      dog
24999  dog.9999.jpg      dog